html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
  border: none;
  display: block;
  text-align: center;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.main-navigation ul,
.catalog-list,
.feature-list,
.footer-menu,
.social-list,
.breadcrumbs,
.menu-sort,
.pager-list {
  list-style: none;
}

/*****************************************************************************
******************************SECTION HEADER**********************************
*****************************************************************************/
.main-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
  /*временно для сетки*/
  background-color: #5a5a5a;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  width: 450px;
  /*временно для сетки*/
  background-color: tomato;
  /*временно для сетки*/
  padding-left: 0px;
  /*временно для сетки*/
}

.user-navigation {
  display: flex;
  width: 520px;
  /*временно для сетки*/
  background-color: gold;
  /*временно для сетки*/
  padding-left: 0px;
  /*временно для сетки*/
}

.user-account {
  width: 200px;
  /*временно для сетки*/
}

.site-navigation a {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #a0b5a9;
}

.site-navigation li {
  display: inline-block;
}

.menu-catalog li {
  display: block;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.menu-catalog {
  background-color: #f8f7f4;
}

.menu-catalog a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.menu-catalog a:hover,
.menu-catalog a:focus {
  background-color: #fbded7;
}

.menu-catalog a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.menu-catalog .catalog-current {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation li {
  display: inline-block;
}

.user-navigation-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: #a1b4a9;
  display: inline-block;
}

.user-navigation-item svg {
  fill: #ffffff;
}

.user-navigation-item:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.user-navigation-item:hover svg {
  fill: #323232;
}

.login-form {
  background-color: #f8f7f4;
}

.login-form a {
  color: #323232;
  text-decoration: underline;
}

.cart-form {
  color: #323232;
  background-color: #f8f7f4;
}

.cart-form .item {
  font-size: 13px;
  line-height: 16px;
}

.cart-form .price {
  color: #999999;
}

.cart-form .total-amount {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart .full-cart {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.working-time {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  float: right;
  width: 170px;
  /*временно для сетки*/
}

.working-time span {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

/*****************************************************************************
******************************SECTION SLIDER**********************************
*****************************************************************************/
.slider {
  width: 1200px; /*временно для сетки*/
  background-image: url("../img/slider-bg-1.png");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.slider-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  text-align: center;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
}

.slider-indicator {
  width: 70px;
  /*временно для сетки*/
  display: flex;
  justify-content: space-between;
}

.button-indicator {
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  display: inline;
}

.button-indicator:hover,
.button-indicator:focus {
  background-color: #b2c1b7;
}

.button-indicator:active {
  background-color: #ffffff;
}

.button-indicator:first-child {
  background-color: #ffffff;
}

.button-indicator:not(first-child) {
  background-color: #849d8f;
}

/*****************************************************************************
******************************ARTICLE ACTION**********************************
*****************************************************************************/
.action-wrapper {
  justify-content: space-around;
  width: 1200px;
  /*временно для сетки*/
  display: flex;
  margin: 0 auto;
}

.action {
  display: inline-block;
  width: 550px;
  /*временно для сетки*/
}

.action-raspberry {
  background-color: #a3092d;
  background-image: url(../img/raspberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.action-choko {
  background-color: #512f19;
  background-image: url(../img/chokolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.action-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.action-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.raspberry-button {}

.choko-button {}

/*****************************************************************************
******************************SECTION HITS************************************
*****************************************************************************/
/*временно для сетки*/
.catalog h2 {
  width: 70px; 
  display: block;
}
.catalog {
  width: 1200px; /*временно для сетки*/
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.catalog-list li {
  display: inline-block;
  width: 268px;
  /*временно для сетки*/
}

.catalog .catalog-item {
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  display: block;
}

.catalog .catalog-item:hover,
.catalog .catalog-item:focus,
.catalog .catalog-item:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.catalog-list span {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  display: block;
}

.catalog-list li:hover {
  background-color: #9bafa3;
}

/*****************************************************************************
******************************SECTION ABOUT***********************************
*****************************************************************************/
.about {
  color: #323232;
  background-color: #ecdfc7;
  width: 1100px;
  /*временно для сетки*/
  margin: 0 auto;
}

.about h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

/*****************************************************************************
******************************ARTICLE NEWS************************************
*****************************************************************************/
.info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  /*временно для сетки*/
  margin: 0 auto;
}

.news {
  background-color: #ffffff;
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
  color: #323232;
  display: inline-block;
  width: 550px;
  /*временно для сетки*/
}

.news-title {
  font-size: 16px;
  font-weight: 500;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.news a:hover,
.news a:active {
  color: #e84d37;
  text-decoration-color: #f9cdc4;
}

/*****************************************************************************
******************************SECTION MAILING*********************************
*****************************************************************************/
.mailing {
  background-color: #f8f7f4;
  display: inline-block;
  width: 550px;
  /*временно для сетки*/
}

.mailing p {
  color: #5a5a5a;
}

.mailing input::placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-button {}

/*****************************************************************************
*********************************SECTION ADDRESS******************************
*****************************************************************************/
.address {
  width: 1200px; /*временно для сетки*/
  background-color: #9bafa4;
  margin: 0 auto;
}

.contacts {
  background-color: #fefefe;
  width: 300px;
  /*временно для сетки*/
}

.contacts p {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contacts span {
  font-size: 14px;
  line-height: 20px;
}

.feedback-button {}

.address {
  position: relative;
}

.address-pin {
  position: absolute;
  top: 25%;
  left: 20%;
}

/*****************************************************************************
*******************************SECTION FEEDBACK*******************************
*****************************************************************************/
.feedback {
  background-color: #f8f7f4;
  width: 300px;
  /*временно для сетки*/
}

.feedback-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #3f3f3f;
}

.feedbacksend-button {}

/*****************************************************************************
************************************FOOTER************************************
*****************************************************************************/
footer {
  width: 1200px;  /*временно для сетки*/
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social-wrapper,
.footer-menu,
.copyright {
  display: inline;
}

.social-list {
  display: flex;
  width: 200px;
  /*временно для сетки*/
  justify-content: space-between;
}

.social-icon {
  display: inline;
}

.footer-menu {
  width: 400px;
  /*временно для сетки*/
  justify-content: space-between;
}

.footer-menu li {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #9db1a5;
  display: inline-block;
  width: 170px;
  /*временно для сетки*/
}

.footer-menu li:first-of-type {
  font-weight: 700;
}

.footer-menu a {
  color: #ffffff;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
}

.copyright a {
  color: #ffffff;
}

.social-list li {
  width: 32px;
  height: 32px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-icon {
  fill: #e8ebe9;
}

.social-icon:hover,
.social-icon:focus {
  fill: #ffffff;
}

.social-icon:active {
  fill: #e9e9e9;
}

/*****************************************************************************
************************************CATALOG PAGE******************************
*****************************************************************************/
.site-navigation .navigation-current {
  background-color: #d07058;
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #aebeb5;
  display: inline;
}

.breadcrumbs .active {
  text-decoration: none;
}

.breadcrumbs .next {
  content: "»";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

/*****************************************************************************
**********************************SECTION FILTER******************************
*****************************************************************************/
/*временно для сетки*/
.filter {
  width: 1200px; 
  margin: 0 auto;
}
.label-sort {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sort .active {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: #9db1a5;
}

.sort .active:hover {
  color: #323232;
}

.menu-sort a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  background-color: #ffffff;
}

.menu-sort a:hover {
  color: #ffffff;
  background-color: #1e90ff;
}

.sort svg {
  fill: #ffffff;
}

.sort svg:hover {
  fill: #323232;
}

.label-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.price-indicator span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.label-fat-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.fat-content label {
  font-weight: 500;
  line-height: 18px;
}

.fillings label {
  font-weight: 500;
  line-height: 18px;
}

.filter-button {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-color: #9cb0a4;
}

.filter-button:hover,
.filter-button:focus {
  color: #353535;
  background-color: #fbfcfb;
}

.filter-button:active {
  box-shadow: inset 0px 3px 3px 0px #6a6b6a;
  border: none;
}

/*****************************************************************************
**********************************SECTION CATALOG*****************************
*****************************************************************************/



/*****************************************************************************
**********************************PAGINATION**********************************
*****************************************************************************/
.pager-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pager-list li,
.pager-list a {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  width: 27px;
  height: 27px;
  display: block;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
}

.pager-list .pager-current {
  color: #323232;
  background-color: #ffffff;
}

.pager-list a:hover {
  background-color: #9db1a5;
}
