html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background: #f26843;
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
  border: none;
  text-align: center;
}

.button:hover,
.button:focus {
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-navigation ul,
.catalog-list,
.feature-list,
.footer-menu,
.social-list,
.breadcrumbs,
.menu-sort,
.pager-list {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*****************************************************************************
******************************SECTION HEADER**********************************
*****************************************************************************/
.header-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 9px;

}

.main-logo-container {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 724px;
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 9px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-navigation-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 50px;
  background-color: transparent;
  display: inline-block;
  vertical-align: baseline;
}

.site-navigation-catalog,
.user-account,
.search .user-navigation-item,
.full-cart {
  position: relative;
}

.site-navigation-catalog::before,
.user-account::before,
.search .user-navigation-item::before,
.full-cart::before {
  content: "";
  position: absolute;
  top: 80%;
  width: 100px;
  height: 20px;
  border: 1px solid #000000;
}

.site-navigation-catalog::before {
  left: -5px;
}

.search .user-navigation-item::before {
  left: -65px;
}

.user-account::before {
  left: 10px;
}

.full-cart::before {
  left: 10px;
}

.site-navigation-item::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  background-color: #f7f6f3;
  color: #323232;
  text-decoration: none;
}

.site-navigation-catalog:hover .menu-catalog {
  display: block;
  z-index: 10;
}

.search:hover .search-form {
  display: block;
  z-index: 10;
}

.user-account:hover .login-form {
  display: block;
  z-index: 10;
}

.cart:hover .cart-form {
  display: block;
  z-index: 10;
}

.sort:hover .menu-sort {
  display: block;
  z-index: 10;
}

/*.site-navigation-catalog::before:hover+.menu-catalog,
menu-catalog:hover {
  display: block;
  z-index: 10;
}
*/
.menu-catalog-item:hover .site-navigation-catalog {
  background-color: #f7f6f3;
}

.site-navigation-item:active {
  background-color: rgba(248, 247, 244, 0.9);
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.menu-catalog {
  background-color: #f8f7f4;
  padding-left: 0;
  padding-bottom: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  display: none;
  top: 60px;
  /*z-index: 11;*/
  left: 182px;
}

.menu-catalog-item {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 22px;
  display: block;
}

.menu-catalog-item:hover,
.menu-catalog-item:focus {
  background-color: #fbded7;
}

.menu-catalog-item:active {
  background-color: #f6b5a5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.menu-catalog .new-item {
  padding-top: 10px;
  padding-bottom: 13px;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
}

.menu-catalog .new-item::after {
  content: "";
  display: block;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
  position: absolute;
  left: 5px;
  top: 38px;
}

.menu-catalog .catalog-current {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  /*align-self: start;*/
  padding-left: 0;
}

.user-navigation-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, .2);
  display: block;
  text-align: center;
  position: relative;
  margin-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.user-navigation-item svg {
  fill: #ffffff;
}

.user-navigation-item:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.user-navigation-item:hover svg {
  fill: #323232;
}

.search svg {
  position: absolute;
  top: 20%;
  left: 22%;
  display: block;
}

.user-account svg {
  position: absolute;
  top: 17%;
  left: 16px;
  display: block;
}

.cart svg {
  position: absolute;
  top: 19%;
  left: 17px;
  display: block;
}

.search .user-navigation-item {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.user-account .user-navigation-item {
  border-radius: 50px;
  padding-top: 8px;
  padding-left: 45px;
  padding-bottom: 8px;
  padding-right: 15px;
}

.cart .user-navigation-item {
  border-radius: 50px;
  padding-top: 8px;
  padding-left: 45px;
  padding-bottom: 8px;
  padding-right: 15px;
}

.cart .full-cart {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 50px;
  padding-top: 8px;
  padding-left: 45px;
  padding-bottom: 8px;
  padding-right: 15px;
}

.search {
  position: relative;
}

.search-form {
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 36px;
  left: -300px;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.search input[type="search"] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  width: 310px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
  border-radius: 5px;
  border: 1px solid #d1d0ce;
  height: 44px;
  box-sizing: border-box;
  display: block;
  outline: 0;
}

input[type="search"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999999;
}

input[type="search"]:hover,
input[type="search"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus {
  outline: 2px solid #d1d0ce;
}

.user-account {
  position: relative;
}

.login-form {
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 36px;
  left: -174px;
  max-width: 277px;
  display: none;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

input[type="email"],
input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d1d0ce;
  width: 241px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin-bottom: 20px;
  height: 44px;
}

.login-button {
  padding: 10px 24px;
  position: absolute;
  left: 20px;
  bottom: 24px;
}

.login-link {
  height: 47px;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  display: block;
  text-align: right;
  height: 20px;
}

.login-form a:first-of-type {
  padding-right: 18px;
  padding-bottom: 0;
}

.working-time-index-container .working-time {
  width: 250px;
  position: absolute;
  top: 74px;
  left: 923px;
}

.working-time span:first-child {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 5px;
}

.working-time span {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-indent: 16px;
  margin-top: 0;
  display: block;
  text-align: right;
}

.working-time a[href^="tel:"] {
  color: #ffffff;
}

.breadcrumbs-working-time-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*****************************************************************************
******************************SECTION SLIDER**********************************
*****************************************************************************/
.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 27px;
}

.site-wrapper {
  margin: 0 auto;
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 20;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-bg-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-bg-3.png");
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slider-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.slider-button {
  display: inline-block;
  padding: 12px 44px;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 40px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  margin-bottom: 40px;
  vertical-align: baseline;
}

.slider-controls {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: baseline;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-bg-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-bg-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-bg-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*****************************************************************************
******************************ARTICLE ACTION**********************************
*****************************************************************************/
.action-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 39px;
}

.action {
  width: 560px;
  border-radius: 14px;
  text-align: right;
}

.action-raspberry {
  background-color: #a3092d;
  background-image: url("../img/raspberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.action-choko {
  background-color: #512f19;
  background-image: url("../img/chokolate-bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.action-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 17px;
  margin-left: 18px;
  text-align: left;
  margin-bottom: 0;
}

.action-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 43px;
}

.raspberry-button,
.choko-button {
  padding: 12px 22px;
  margin-right: 22px;
  margin-bottom: 22px;
  display: inline-block;
  vertical-align: baseline;
}

/*****************************************************************************
******************************SECTION HITS************************************
*****************************************************************************/
.catalog h2 {
  width: 70px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog-list li {
  width: 267px;
  position: relative;
  min-height: 362px;
  background-color: transparent;
}

.catalog-list .card-item:not(:nth-child(4n)) {
  margin-right: 26px;
}

.hits li::after {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0;
  top: 0;
  background-image: url("../img/icon-hit.svg");
  z-index: 2;
}

.catalog-list li:hover {
  z-index: 1;
}

.catalog-list li:hover::before {
  display: block;
}

.catalog-list li:hover::before {
  position: absolute;
  top: -8px;
  right: -14px;
  bottom: -44px;
  left: -14px;
  padding-bottom: 14px;
  display: block;
  content: "";
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list img {
  width: 267p;
  height: 267px;
  display: block;
  border-radius: 50%;
  position: relative;
}

.catalog-list .ice-cream-price {
  -webkit-transform: translate(0, -57px);
  -ms-transform: translate(0, -57px);
  transform: translate(0, -57px);
  display: block;
  position: relative;
  margin-bottom: 57px;
  z-index: 2;
}

.ice-cream-price>span:first-of-type {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-price>span:last-of-type {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  padding-left: 3px;
}

.catalog-list p {
  display: block;
  margin-top: -92px;
  text-align: center;
}

.catalog-item {
  color: #ffffff;
  font-weight: 500;
  display: inline;
  text-align: center;
  padding-bottom: 0;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.catalog-item:hover {
  border-bottom: 1px solid #ffbc9e;
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item:active {
  color: #ffbc9e;
  -webkit-text-decoration-color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.quick-view-button {
  padding: 10px 18px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: -30px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: none;
  z-index: 10;
  min-width: 208px;
}

.card-item:hover .quick-view-button {
  display: block;
}

/*****************************************************************************
******************************SECTION ABOUT***********************************
*****************************************************************************/
.about {
  color: #323232;
  background-color: #ecdfc7;
  background-image: url("../img/vafle-bg.jpg");
  width: 1146px;
  border-radius: 14px;
  padding: 26px 20px 0 20px;
}

.about h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 0;
}

.about ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0;
}

.about .feature {
  width: 553px;
  padding-left: 56px;
  padding-right: 20px;
  padding-bottom: 23px;
  position: relative;
}

.about .feature::before {
  position: absolute;
  top: -13px;
  left: 0;
}

.about .production::before {
  content: url("../img/icon-icecream.svg");
  width: 49px;
  height: 49px;
}

.about .suppliers::before {
  content: url("../img/icon-cow.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 12px;
}

.about .components::before {
  content: url("../img/icon-leaf.svg");
  width: 49px;
  height: 49px;
}

.about .transportation::before {
  content: url("../img/icon-termometer.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 12px;
}

.about .feature:nth-child(2n) {
  padding-left: 70px;
  padding-right: 10px;
}

/*****************************************************************************
******************************ARTICLE NEWS************************************
*****************************************************************************/
.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: -51px -224px;
  color: #323232;
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
  padding: 25px 20px;
}

.news-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  padding-top: 4px;
  width: 282px;
  display: block;
}

.news a:hover,
.news a:active {
  color: #e84d37;
  -webkit-text-decoration-color: #f9cdc4;
  text-decoration-color: #f9cdc4;
}

/*****************************************************************************
******************************SECTION MAILING*********************************
*****************************************************************************/
.mailing {
  background-color: #f8f7f4;
  background-image: url("../img/mail-pattern-bg.png");
  width: 560px;
  min-height: 220px;
  border-radius: 15px;
}

.mailing-container {
  background-color: #f8f7f4;
  width: 548px;
  min-height: 210px;
  margin: 6px;
  padding: 30px 20px;
  border-radius: 10px;
}

.mailing-container p {
  color: #5a5a5a;
  margin-top: 0;
  margin-bottom: 0;
}

.mailing-container input[type="email"] {
  font-size: 16px;
  width: 368px;
  margin-top: 35px;
  margin-bottom: 0;
  padding-top: 9px;
  padding-left: 15px;
  padding-bottom: 9px;
  height: 43px;
}

.mailing-container input::-webkit-input-placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-container input::-moz-placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-container input:-ms-input-placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-container input::-ms-input-placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-container input::placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-button {
  padding: 10px 18px;
  margin-left: 8px;
}

/*****************************************************************************
*********************************SECTION ADDRESS******************************
*****************************************************************************/
.address {
  width: 100%;
  background-color: #849d8f;
  margin: 0 auto;
  margin-top: 39px;
  position: relative;
}

.address iframe {
  width: 100%;
  min-height: 430px;
  border: 0;
  position: absolute;
}

.map {
  width: 1200px;
  margin: 0 auto;
  height: 430px;
  background-image: url("../img/ice-cream-pin.png"), url("../img/map.png");
  background-position: 25% 50%, bottom center;
  background-repeat: no-repeat, no-repeat;
}

.contacts {
  background-color: #fefefe;
  max-width: 302px;
  border-radius: 15px;
  padding: 30px 25px 32px 25px;
  position: relative;
  top: 62px;
  left: 870px;
}

.contacts a[href^="tel:"] {
  color: #323232;
  margin-top: 5px;
  display: block;
}

.contacts p {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
}

.contacts-phone {
  margin-bottom: 25px;
}

.contacts span {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding-right: 104px;
}

.contacts-phone span {
  padding-right: 80px;
}

.contacts-phone span:last-of-type {
  padding-left: 1px;
}

.feedback-button {
  padding: 10px 27px;
  display: block;
}

/*****************************************************************************
*******************************SECTION FEEDBACK*******************************
*****************************************************************************/
.modal-dialog {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.form-wrapper {
  max-width: 478px;
  max-height: 442px;
  padding: 25px;
  padding-bottom: 80px;
  border-radius: 10px;
  background-color: #f8f7f4;
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 100;
  display: block;
}

.modal-close {
  width: 18px;
  height: 17px;
  background-image: url("../img/x-big.svg");
  position: absolute;
  top: 20px;
  left: 440px;
  border: none;
  background-color: #f8f7f4;
  z-index: 30;
  cursor: pointer;
  outline: none;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 267px;
  border: 1px solid #d1d0ce;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.feedback-form input[type="text"] {
  margin-top: 24px;
  margin-bottom: 20px;
}

.feedback-form textarea {
  width: 427px;
  height: 155px;
  border: 1px solid #d1d0ce;
  border-radius: 5px;
  resize: none;
}

.feedback-form textarea::-webkit-input-placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.feedback-form textarea::-moz-placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.feedback-form textarea:-ms-input-placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.feedback-form textarea::-ms-input-placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.feedback-form textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.feedback-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #3f3f3f;
  margin-bottom: 0;
  margin-top: 0;
}

.feedbacksend-button {
  padding: 10px 15px;
  position: absolute;
  right: 28px;
  bottom: 26px;
  margin-top: 10px;
}

/*********************************************************************************
****************************ОЖИВЛЕНИЕ МОДАЛЬНОГО ОКНА*****************************
*********************************************************************************/
/*Анимация для всплывающего окна*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, 30px);
    transform: translate(-50%, 30px);
  }

  90% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, -2000px);
    transform: translate(-50%, -2000px);
  }

  70% {
    -webkit-transform: translate(-50%, 30px);
    transform: translate(-50%, 30px);
  }

  90% {
    -webkit-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
  }

  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

/*Добавление анимации для тряски формы в случае ошибки.*/
@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-51%);
    transform: translateX(-51%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-51%);
    transform: translateX(-51%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-49%);
    transform: translateX(-49%);
  }
}

/*Добавление в стили класс, который будет отвечать за показ модального окна.*/
.modal-show {
  display: block;
}

.form-show {
  display: block;

  -webkit-animation: bounce 0.6s;

  animation: bounce 0.6s;
}

/*Добавление класса, который будет добавлять эту анимацию к модальному окну.*/
.form-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/*****************************************************************************
************************************FOOTER************************************
*****************************************************************************/
.footer-wrapper {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 14px 27px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*width: 188px;*/
  /*-webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;*/
  padding-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: left;
  margin-top: 20px;
}

.social-list li {
  margin-right: 11px;
}

.social-icon svg {
  fill: #e8ebe9;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 38px;
  height: 38px;
}

.social-icon:hover svg,
.social-icon:focus svg {
  fill: #ffffff;
}

.social-icon:active svg {
  fill: #e9e9e9;
}

.footer-menu {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 20px;
}

.footer-menu li {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  width: 160px;
  padding-top: 4px;
}

.footer-menu p {
  display: block;
  margin: 0;
}

.footer-menu li:nth-child(odd) {
  padding-left: 15px;
}

.footer-menu li:nth-child(even) {
  padding-left: 0;
  width: 170px;
}

.footer-menu li:first-of-type {
  font-weight: 700;
  position: relative;
}

.footer-menu li:first-of-type::before {
  content: url("../img/icon-heart.svg");
  position: absolute;
  top: 7px;
  left: -5px;
  width: 15px;
  height: 13px;
}

.footer-menu a {
  color: #ffffff;
  display: inline;
  vertical-align: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.footer-menu a:hover {
  border-color: #ffbc9e;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
  color: #ffbc9e;
}

.footer-menu a::after:hover {
  border-bottom: 1px solid #ffbc9e;
}

.copyright {
  padding-top: 4px;
  padding-left: 2px;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 2px;
  margin-bottom: 0;
}

.copyright a {
  color: #ffffff;
}

.footer-logo-container {
  width: 120px;
  height: 39px;
}

/*****************************************************************************
************************************CATALOG PAGE******************************
*****************************************************************************/
.navigation-current {
  background-color: #d07058;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: baseline;
}

.cart-form {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  top: 61px;
  left: 634px;
  z-index: 10;
  display: none;
}

.cart-form .order-table {
  position: relative;
  border-bottom: 1px solid #cacac7;
  border-spacing: 12px 15px;
}

.order-table .cart-item {
  width: 230px;
}

.order-table .cost-item {
  text-align: center;
  width: 80px;
}

.cart-form .item {
  font-size: 13px;
  line-height: 16px;
  padding-top: 20px;
  padding-left: 15px;
}

.cart-form .price {
  color: #999999;
}

.cart-form .total-amount {
  margin-right: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  margin-left: auto;
  margin-top: 15px;
}

.sendorder-button {
  padding: 10px 15px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 0;
}

.breadcrumbs li {
  margin-right: 20px;
  position: relative;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs .next::after {
  display: block;
  content: "»";
  color: #ffffff;
  padding: 0 8px;
  position: absolute;
  left: 50px;
  top: 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs a:not(.active)::after {
  top: -1px;
  position: relative;
  display: block;
  content: "";
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.breadcrumbs a:not(.active):hover::after {
  border-color: #ffbc9e;
}

/*****************************************************************************
**********************************SECTION FILTER******************************
*****************************************************************************/

.filter-container {
  width: 880px;
  padding-bottom: 50px;
  height: 135px;
  margin-bottom: 50px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.sort-price-fat-container,
.fillings-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filter h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 0;
  margin-bottom: 26px;
}

.fieldset {
  border: 0;
  padding: 0;
}

.label-sort {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-top: 0;
  padding-bottom: 15x;
  padding-left: 15px;
}

.sort {
  position: relative;
  min-width: 195px;
  margin-right: 16px;
}

.sort p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 5px;
  padding-left: 10px;
}

.sort select {
  padding: 9px 40px 9px 10px;
  border-radius: 50px;
  background-color: #a9bab0;
  border: none;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
}

.sort select::-ms-expand {
  display: none;
}

.sort svg {
  fill: #ffffff;
  position: absolute;
  top: 37px;
  left: 168px;
  z-index: 3;
}

.sort:hover svg {
  fill: #000000;
}

.sort:hover select {
  color: #000000;
}

.label-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.price-indicator {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  vertical-align: baseline;
}

.price-indicator p {
  margin: 0;
  margin-bottom: 3px;
}

.price-indicator input[type="range"] {
  display: none;
}

.price-indicator span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.input-type-range {
  width: 218px;
  height: 36px;
  border-radius: 50px;
  background-color: #aabcb2;
  position: relative;
  margin-right: 13px;
}

.input-type-range::before {
  display: block;
  content: "";
  width: 176px;
  height: 4px;
  background-color: #f8f7f4;
  position: absolute;
  top: 15px;
  left: 22px;
  -webkit-box-sizing: initial;
  box-sizing: initial;
}

.range-button-left::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #ffffff;
  position: absolute;
  -webkit-box-sizing: initial;
  box-sizing: initial;
  top: 8px;
  left: 34px;
  cursor: pointer;
}

.range-button-right::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #ffffff;
  position: absolute;
  -webkit-box-sizing: initial;
  box-sizing: initial;
  top: 8px;
  left: 133px;
  cursor: pointer;
}

.range-button-left:hover::after {
  border: 9px solid #ffffff;
  top: 7px;
  left: 33px;
}

.range-button-right:hover::after {
  border: 9px solid #ffffff;
  position: absolute;
  top: 7px;
  left: 132px;
}

.label-fat-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding-left: 15px;
}

.fat-content label {
  font-weight: 500;
  line-height: 18px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
  tabindex='0'
}

.container-radio {
  width: 415px;
  border-radius: 50px;
  background-color: #aabcb2;
  position: relative;
  padding-top: 6px;
  margin-top: 8px;
  padding-left: 8px;
  padding-bottom: 6px;
}

.container-radio label {
  position: relative;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-bottom: 0;
  padding-left: 35px;
  padding-right: 7px;
}

.container-radio input:checked+label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 3px solid #aabcb2;
  -webkit-box-shadow: 0 0 0 3px #eef2f0;
  box-shadow: 0 0 0 3px #eef2f0;
  border-radius: 50%;
  position: absolute;
  opacity: 0.8;
  top: 11px;
  left: 11px;
  background-color: #eef2f0;
}

.container-radio label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  opacity: 0.8;
  top: 8px;
  left: 8px;
}

.container-radio input:checked+label:hover::before,
.container-radio label:hover::before {
  opacity: 1;
}

.container-radio input:disabled+label::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 3px solid #aabcb2;
  -webkit-box-shadow: 0 0 0 3px #eef2f0;
  box-shadow: 0 0 0 3px #eef2f0;
  border-radius: 50%;
  position: absolute;
  opacity: 0.4;
  top: 11px;
  left: 11px;
  background-color: #eef2f0;
}

.container-checkbox {
  width: 703px;
  border-radius: 50px;
  background-color: #aabcb2;
  position: relative;
  margin-bottom: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.container-checkbox input:checked+label::before {
  content: url("../img/checkbox-on.svg");
  margin-right: 12px;
  margin-left: 11px;
  position: absolute;
  opacity: 0.8;
  top: 20%;
  left: 5px;
}

.container-checkbox label::before {
  content: url("../img/checkbox-off.svg");
  margin-right: 12px;
  margin-left: 11px;
  position: absolute;
  opacity: 0.8;
  top: 20%;
  left: 5px;
}

.container-checkbox input:checked+label:hover::before,
.container-checkbox label:hover::before {
  opacity: 1;
}

.container-checkbox input:disabled+label::before {
  margin-right: 12px;
  margin-left: 15px;
  position: absolute;
  opacity: 0.4;
  top: 20%;
  left: 5px;
}

.container-checkbox input:disabled+label:hover::before {
  opacity: 0.4;
}

.fillings .label-fillings {
  font-size: 14px;
  padding-top: 13px;
  padding-left: 15px;
}

.fillings label {
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 0;
  position: relative;
  padding-left: 48px;
  display: inline-block;
}

.filter-button {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-color: #9cb0a4;
  padding: 8px 30px;
  position: absolute;
  top: 93px;
  left: 81%;
}

.filter-button:hover,
.filter-button:focus {
  color: #353535;
  background-color: #fbfcfb;
}

.filter-button:active {
  border: none;
  padding: 10px 30px;
  -webkit-box-shadow: inset 0 3px 3px 0 #6a6b6a;
  box-shadow: inset 0 3px 3px 0 #6a6b6a;
}

/*****************************************************************************
**********************************SECTION CATALOG*****************************
*****************************************************************************/
.page-catalog {
  margin-top: 40px;
  margin-bottom: 55px;
}

.catalog-list p:nth-of-child(5),
.catalog-list p:nth-of-child(9) {
  padding: 0 10px;
}

/*****************************************************************************
**********************************PAGINATION**********************************
*****************************************************************************/
.item-list {
  margin: 0 auto;
  border-bottom: 1px solid #a9bbb1;
}

.pager-list {
  margin-left: auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  position: relative;
}

.pager-list li {
  font-weight: 500;
  line-height: 18px;
  background-color: transparent;
  text-align: center;
}

.pager-list a {
  color: #ffffff;
  width: 27px;
  height: 27px;
  display: block;
  border-radius: 50px;
  padding-top: 5px;
}

.pager-list .last::before {
  content: "";
  background-image: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 178px;
  z-index: 10;
}

.pager-list .previous::before {
  content: "";
  background-image: url("../img/icon-right-small.svg");
  transform: rotateY(180deg);
  opacity: 0.3;
  width: 8px;
  height: 12px;
  position: absolute;
  top: 8px;
  left: 15px;
  z-index: 10;
}

.pager-list .pager-current {
  color: #323232;
  background-color: #ffffff;
  border-radius: 50px;
  font-weight: 500;
}

.pager-list a:hover {
  color: #ffffff;
  background-color: #9db1a5;
}
.pager-list .previous::before:hover {
  color: #ffffff;
  background-color: #9db1a5;
}