html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
  border: none;
  text-align: center;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.main-navigation ul,
.catalog-list,
.feature-list,
.footer-menu,
.social-list,
.breadcrumbs,
.menu-sort,
.pager-list {
  list-style: none;
}

/*****************************************************************************
******************************SECTION HEADER**********************************
*****************************************************************************/
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  /*временно для сетки*/
  padding: 0 27px;
  background-color: #5a5a5a;
  margin: 0 auto;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  background-color: tomato;
  /*временно для сетки*/
  padding-left: 0;
  /*временно для сетки*/
  justify-content: space-between;
  margin-left: 24px;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.site-navigation-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #a0b5a9;
  padding: 7px 14px;
  border-radius: 50px;
  background-color: transparent;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.site-navigation-item:active {
  background-color: rgba(248, 247, 244, 0.9);
  box-shadow: inset 0 2px 1px 0 #696969;
}

.menu-catalog {
  background-color: #f8f7f4;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
}

.menu-catalog-item {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
  padding: 6px 20px;
  display: block;
}

.menu-catalog .new-item {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}

.menu-catalog-item:hover,
.menu-catalog-item:focus {
  background-color: #fbded7;
  padding: none;
}

.menu-catalog-item:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.menu-catalog .catalog-current {
  color: #ffffff;
  background-color: #d07058;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 244px;
  /*background-color: gold;*/
  /*временно для сетки*/
  margin-left: 355px;
  padding-left: 0;
  justify-content: space-between;
}

.user-navigation-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
  background-color: #a1b4a9;
  display: block;
  text-align: center;
}

.user-navigation-item svg {
  fill: #ffffff;
}

.user-navigation-item:hover {
  color: #323232;
  background-color: #f7f6f3;
}

.user-navigation-item:hover svg {
  fill: #323232;
}

.search .user-navigation-item {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.user-account .user-navigation-item {
  height: 32px;
  width: 92px;
  border-radius: 50px;
}

.cart .user-navigation-item {
  height: 32px;
  width: 100px;
  border-radius: 50px;
}

.full-cart {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  height: 32px;
  width: 118px;
  border-radius: 50px;
}

.search {
  position: relative;
}

.search-form {
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  left: -310px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search input[type="search"] {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  width: 310px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #d1d0ce;
}

.user-account {
  position: relative;
}

.login-form {
  background-color: #f8f7f4;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  left: -310px;
  max-width: 277px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

input[type="email"],
input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #d1d0ce;
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.login-button {
  padding: 10px 25px;
  position: absolute;
  top: 150px;
}

.login-form a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
  display: block;
  text-align: end;
}

.working-time {
  width: 170px;
  position: absolute;
  top: 73px;
  left: 1027px;
}

.working-time span {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.working-time p {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-indent: 16px;
  margin-top: 0;
}

/*****************************************************************************
******************************SECTION SLIDER**********************************
*****************************************************************************/
.slider {
  width: 1200px;
  /*временно для сетки*/
  background-image: url("../img/slider-bg-1.png");
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.slider-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60.35px;
  text-align: center;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  padding: 20px 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider-indicator {
  width: 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 27px;
}

.button-indicator {
  width: 17px;
  height: 17px;
  border-radius: 50px;
  border: 2px solid #ffffff;
}

.button-indicator:hover,
.button-indicator:focus {
  background-color: #b2c1b7;
}

.button-indicator:active {
  background-color: #ffffff;
}

.button-indicator:first-child {
  background-color: #ffffff;
}

.button-indicator:not(first-child) {
  background-color: #849d8f;
}

/*****************************************************************************
******************************ARTICLE ACTION**********************************
*****************************************************************************/
.action-wrapper {
  justify-content: space-between;
  width: 1200px;
  /*временно для сетки*/
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 27px;
}

.action {
  width: 560px;
  margin-bottom: 24px;
  min-height: 230px;
  border-radius: 12px;
}

.action-raspberry {
  background-color: #a3092d;
  background-image: url(../img/raspberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.action-choko {
  background-color: #512f19;
  background-image: url(../img/chokolate-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
}

.action-title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  margin-top: 20px;
  margin-left: 20px;
}

.action-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.raspberry-button,
.choko-button {
  padding: 18px 20px;
}

.action-raspberry .raspberry-button,
.action-choko .choko-button {
  position: absolute;
  bottom: 22px;
  right: 22px;
}

/*****************************************************************************
******************************SECTION HITS************************************
*****************************************************************************/
.catalog h2 {
  width: 70px;
}

.catalog {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.catalog-list li {
  width: 267px;
  position: relative;
}

.catalog-list img {
  display: block;
  border-radius: 133.5px;
  text-align: center;
}

.catalog-list li::before {
  content: url("../img/icon-hit.png");
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-item {
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  display: block;
  text-align: center;
  padding: 17px 10px;
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.catalog-list span {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  position: absolute;
  top: 215px;
  left: 0;
}

.catalog-list li:hover {
  width: 293px;
  height: 404px;
  /*padding-left: 13px;
  padding-right: 13px;*/
  background-color: #9bafa3;
}

.catalog-list li:hover img {
  align-self: center;
  justify-self: center;
}

.quick-view-button {
  padding: 10px 18px;
  position: absolute;
  top: 335px;
  left: 50%;
  transform: translate(-50%, 0);
}

/*****************************************************************************
******************************SECTION ABOUT***********************************
*****************************************************************************/
.about {
  color: #323232;
  background-color: #ecdfc7;
  background-image: url("../img/vafle-bg.jpg");
  width: 1146px;
  margin: 0 auto;
  min-height: 310px;
  margin-top: 40px;
  border-radius: 10px;
}

.about h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 20px;
}

.about ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .feature {
  width: 573px;
  padding-left: 76px;
  padding-right: 15px;
  padding-bottom: 30px;
  position: relative;
}

.about .feature:nth-child(2n) {
  padding-left: 70px;
  padding-right: 33px;
}

.about .production::before {
  content: url("../img/icon-icecream.svg");
}

.about .suppliers::before {
  content: url("../img/icon-cow.svg");
}

.about .components::before {
  content: url("../img/icon-leaf.svg");
}

.about .transportation::before {
  content: url("../img/icon-termometer.svg");
}

.about .feature::before {
  position: absolute;
  top: -15px;
  left: 22px;
}

/*****************************************************************************
******************************ARTICLE NEWS************************************
*****************************************************************************/
.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
  /*временно для сетки*/
  margin: 0 auto;
  padding: 0 27px;
}

.news {
  background-color: #ffffff;
  background-image: url(../img/strawberry-bg.jpg);
  background-repeat: no-repeat;
  background-position: left;
  color: #323232;
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
}

.news-container {
  width: 282px;
  margin-left: 20px;
}

.news-title {
  font-size: 16px;
  font-weight: 500;
  padding-top: 30px;

}

.news-container a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  padding-top: 15px;
}

.news-container a:hover,
.news-container a:active {
  color: #e84d37;
  text-decoration-color: #f9cdc4;
}

/*****************************************************************************
******************************SECTION MAILING*********************************
*****************************************************************************/
.mailing {
  background-color: #f8f7f4;
  background-image: url(../img/mailing-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
}

.mailing-container {
  background-color: #f8f7f4;
  width: 548px;
  min-height: 210px;
  margin: 6px;
}

.mailing-container p {
  color: #5a5a5a;
  margin-top: 0;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 0;
}

.mailing-container input[type="email"] {
  width: 368px;
  margin-top: 40px;
  margin-left: 20px;
}

.mailing-container input::placeholder {
  line-height: 24px;
  color: #999999;
}

.mailing-button {
  padding: 10px 14px;
  margin-left: 10px;
}

/*****************************************************************************
*********************************SECTION ADDRESS******************************
*****************************************************************************/
.address {
  width: 1200px;
  background-color: #9bafa4;
  margin: 0 auto;
}

.contacts {
  background-color: #fefefe;
  max-width: 302px;
  border-radius: 10px;
  padding: 35px 22px;
}

.contacts p {
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;

}

.contacts-address span {
  font-size: 14px;
  line-height: 20px;
  padding-right: 104px;
}

.feedback-button {
  padding: 14px 28px;
}

.address {
  position: relative;
}

.address-pin {
  position: absolute;
  top: 25%;
  left: 20%;
}

/*****************************************************************************
*******************************SECTION FEEDBACK*******************************
*****************************************************************************/
.feedback {
  background-color: #f8f7f4;
  max-width: 478px;
  max-height: 442px;
  /*временно для сетки*/
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.feedback-form {
  padding-bottom: 10px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 267px;
  border: 1px solid #d1d0ce;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.feedback-form input[type="text"] {
  margin-top: 24px;
  margin-bottom: 20px;
}

.feedback-form textarea {
  width: 427px;
  height: 155px;
  border: 1px solid #d1d0ce;
  border-radius: 5px;
  margin-bottom: 96px;
}

.feedback-form textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}

.feedback-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #3f3f3f;
  margin-bottom: 0;
  margin-top: 0;
}

.feedback-form input[type="image"] {
  position: absolute;
  top: 10px;
  left: 445px;
}

.feedbacksend-button {
  padding: 10px 15px;
  position: absolute;
  top: 370px;
  left: 320px;
}

/*****************************************************************************
************************************FOOTER************************************
*****************************************************************************/
footer {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 27px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 188px;
  justify-content: space-between;
  padding-left: 0;
  align-items: center;
}

.social-icon svg {
  fill: #e8ebe9;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-icon:hover svg,
.social-icon:focus svg {
  fill: #ffffff;
}

.social-icon:active svg {
  fill: #e9e9e9;
}

.footer-menu {
  width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.footer-menu li {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #9db1a5;
  width: 165px;
}

.footer-menu li:first-of-type {
  font-weight: 700;
  position: relative;
}

.footer-menu li:first-of-type::before {
  content: url("../img/icon-heart.svg");
  position: absolute;
  top: 2px;
  left: -20px;
}

.footer-menu a {
  color: #ffffff;
}

.footer-menu a:hover,
.footer-menu a:focus,
.footer-menu a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

.copyright p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.copyright a {
  color: #ffffff;
}

/*****************************************************************************
************************************CATALOG PAGE******************************
*****************************************************************************/
.site-navigation .navigation-current {
  background-color: #d07058;
  text-decoration: none;
}

.cart-form {
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.cart-form .order-table {
  padding-top: 10px;
  padding-left: 15px;
  position: relative;
}

.order-table:after {
  display: block;
  width: 510px;
  content: '';
  position: absolute;
  border-bottom: 1px solid #cacac7;
  top: 130px;
  left: 15px;
}

.order-table td {
  padding-right: 14px;
}

.order-table td>p {
  width: 215px;
}

.cart-form .item {
  font-size: 13px;
  line-height: 16px;
  padding-top: 20px;
  padding-left: 15px;
}

.cart-form .price {
  color: #999999;
}

.cart-form .total-amount {
  display: block;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: end;

}

.sendorder-button {
  padding: 10px 15px;
  margin-top: 16px;
  display: block;
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #aebeb5;
}

.breadcrumbs .active {
  text-decoration: none;
}

.breadcrumbs .next {
  content: "»";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  padding: 0 8px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  text-decoration-color: #ffbc9e;
}

/*****************************************************************************
**********************************SECTION FILTER******************************
*****************************************************************************/

.filter {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  display: flex;
}

.filter h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.label-sort {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sort {
  position: relative;
}

.menu-sort {
  background-color: #ffffff;
  padding-left: 0;
  position: absolute;
  top: 43px;
}

.menu-sort-item {
  display: block;
  padding: 4px 45px 4px 20px;
}

.sort-item-active {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  background-color: #9db1a5;
  padding: 9px 50px 9px 16px;
  border-radius: 50px;
  display: inline;
}

.sort-item-active:hover {
  color: #000000;
  background-color: #ffffff;
}

.sort-item-active:hover svg {
  fill: #000000;
}

.menu-sort a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #323232;
  background-color: #ffffff;
}

.menu-sort a:hover {
  color: #ffffff;
  background-color: #1e90ff;
}

.sort svg {
  fill: #ffffff;
  position: absolute;
  top: 35px;
  left: 168px;
}

.sort svg:hover {
  fill: #000000;
}

.label-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.price-indicator span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.label-fat-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.fat-content label {
  font-weight: 500;
  line-height: 18px;
}

.input-type-range {
  width: 218px;
  height: 36px;
  border-radius: 50px;
  background-color: #aabcb2;
  position: relative;
}


.input-type-range::before {
  display: block;
  content: "";
  width: 176px;
  height: 4px;
  background-color: #f8f7f4;
  position: absolute;
  top: 15px;
  left: 22px;
  box-sizing: initial;
}

.range-button-left::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #ffffff;
  position: absolute;
  box-sizing: initial;
  top: 8px;
  left: 34px;
}

.range-button-right::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid #ffffff;
  position: absolute;
  box-sizing: initial;
  top: 8px;
  left: 133px;
}

.container-radio {
  width: 425px;
  height: 36px;
  border-radius: 50px;
  background-color: #aabcb2;
  position: relative;
  padding-top: 6px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.container-radio label {
  padding-left: 20px;
}

[for*="fat"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  vertical-align: middle;
  border: 3px solid #aabcb2;
  box-shadow: 0 0 0 3px #eef2f0;
  border-radius: 50%;
}

input[type="radio"]+label {
  vertical-align: middle;
}

[for="10purcentfat"]::before {
  background-color: #eef2f0;
  box-shadow: 0 0 0 3px #eef2f0;
}
.container-checkbox {
  width: 703px;
  height: 36px;
  border-radius: 50px;
  background-color: #aabcb2;
  position: relative;
  padding-top: 0;
}
.container-checkbox [for*="filling"]::before {
  content: url("../img/checkbox-off.svg");
margin-right: 12px;
margin-left: 15px;
vertical-align: middle;
padding-top: 5px;
}
.container-checkbox [for*="choko"]::before,
.container-checkbox [for*="sprinkles"]::before {
  content: url("../img/checkbox-on.svg");
margin-right: 12px;
margin-left: 15px;
vertical-align: middle;
padding-top: 5px;
}
.fillings label {
  font-weight: 500;
  line-height: 18px;
}

.filter-button {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  border-radius: 50px;
  border: 2px solid #ffffff;
  background-color: #9cb0a4;
  padding: 11px 30px;
}

.filter-button:hover,
.filter-button:focus {
  color: #353535;
  background-color: #fbfcfb;
}

.filter-button:active {
  box-shadow: inset 0 3px 3px 0 #6a6b6a;
  border: none;
}

/*****************************************************************************
**********************************SECTION CATALOG*****************************
*****************************************************************************/



/*****************************************************************************
**********************************PAGINATION**********************************
*****************************************************************************/
.item-list {
  width: 1200px;
  margin: 0 auto;
}

.pager-list {
  margin-left: auto;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.pager-list li {
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  width: 27px;
  height: 27px;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
}

.pager-list a {
  color: #ffffff;
  width: 27px;
  height: 27px;
  display: block;
  border-radius: 50px;
}

.pager-list .pager-current {
  color: #323232;
  background-color: #ffffff;
}

.pager-list a:hover {
  background-color: #9db1a5;
}
